*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content:flex-end;
    height: 4em;
    border: 2px solid black;
    background-color:rgb(206, 214, 214)
}
.dark{
    padding: 8px;
}
i{
    font-size: 1.5rem;
    padding: 1.2rem;
    color: black;
}
.a{
    text-decoration: none;
    font-size: 1.7rem;
    padding: 1rem;
    color: black;
    /* border: 2px solid black; */
}
.a:focus{
    color:rgb(22, 148, 148);
}
.countdown{
    width: 600px;
    height: 400px;
}
.article{
    display: flex;
    gap: 2rem;
    margin-top:8rem;
    margin-left: 15rem;
}
img{
    width: 600px;
    height: 430px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 2px solid rgb(22, 148, 148);;
    
}
.deadline{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}
.format{
    width:65px;
    height:60px;
    text-align: center;
    font-size: 1.4rem;
    padding:5px;
    color: white;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: rgb(19, 138, 146);
}
h1{
    font-size: 2rem;
    color: rgb(15, 173, 173);
}
h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
span{
    font-size: 1rem;
}
.dark{
    background-color: black;
    color: white;
    
}
.light{
    background-color: white;
    color: black;
}
.mode{
    border: none;
    outline: none;
    background-color:rgb(206, 214, 214) ;
}